In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Your PostgreSQL connection string
connection_string = "postgresql://postgres:fUkQJyRhLsHaigOKtuVzDAaKOxNoMSzc@trolley.proxy.rlwy.net:58949/railway"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Example: load an entire table into a DataFrame
table_name = "data_limpia_inmobiliaria"  # 游댳 Replace with the actual table name
df = pd.read_sql_table(table_name, engine)

# Display the first rows
print(df.head())

   Numero de Leads Fecha Creaci칩n                       Usuario Creador  \
0                1            NaT                        pacheco yomira
1                2            NaT  salazar castaneda alessandra nicolle
2                3            NaT                mateo guzman jenny liz
3                4            NaT     juarez bautista socorro del pilar
4                5            NaT     juarez bautista socorro del pilar

  Tipo Persona Genero Estado Civil                        Medio De Captacion  \
0      natural      m      soltero  publicidad en el proyecto sala de ventas
1      natural      m      soltero  publicidad en el proyecto sala de ventas
2      natural      m       casado                             plan referido
3      natural      m      soltero  publicidad en el proyecto sala de ventas
4      natural      m      soltero  publicidad en el proyecto sala de ventas

        Canal De Entrada Nivel De Interes  Edad  ... Proyectos Relacionados  \
0       chatbot whatsapp             bajo    31  ...                we live
1       chatbot whatsapp               no    31  ...               botanika
2  visito sala de ventas             bajo    31  ...               botanika
3       chatbot whatsapp     2do contacto    31  ...                     be
4  visito sala de ventas               no    31  ...                     be

  N칰mero Interacciones N칰mero Visitas Fecha 칔ltima Interacci칩n  \
0                    6              0                      NaT
1                    8              0                      NaT
2                    7              1                      NaT
3                   14              0                      NaT
4                    6              1                      NaT

   Tipo de Financiamiento  referido Tiene mascotas (si,no)  \
0                      no        no                     si
1                      no        no                     si
2                      no        no                     si
3                      no        no                     si
4  ahorro casa mivivienda        no                     si

  Tiene hijos (si/no) 츼rea Social menos valorada 츼rea Social m치s valorada
0                  no                         no                  piscina
1                  no                         no                  piscina
2                  no                         no                  piscina
3                  no                         no                  piscina
4                  no                         no                  piscina

[5 rows x 23 columns]

In [7]:
df.head()

,Numero de Leads,Fecha Creaci칩n,Usuario Creador,Tipo Persona,Genero,Estado Civil,Medio De Captacion,Canal De Entrada,Nivel De Interes,Edad,...,Proyectos Relacionados,N칰mero Interacciones,N칰mero Visitas,Fecha 칔ltima Interacci칩n,Tipo de Financiamiento,referido,"Tiene mascotas (si,no)",Tiene hijos (si/no),츼rea Social menos valorada,츼rea Social m치s valorada
0,1,NaT,pacheco yomira,natural,m,soltero,publicidad en el proyecto sala de ventas,chatbot whatsapp,bajo,31,...,we live,6,0,NaT,no,no,si,no,no,piscina
1,2,NaT,salazar castaneda alessandra nicolle,natural,m,soltero,publicidad en el proyecto sala de ventas,chatbot whatsapp,no,31,...,botanika,8,0,NaT,no,no,si,no,no,piscina
2,3,NaT,mateo guzman jenny liz,natural,m,casado,plan referido,visito sala de ventas,bajo,31,...,botanika,7,1,NaT,no,no,si,no,no,piscina
3,4,NaT,juarez bautista socorro del pilar,natural,m,soltero,publicidad en el proyecto sala de ventas,chatbot whatsapp,2do contacto,31,...,be,14,0,NaT,no,no,si,no,no,piscina
4,5,NaT,juarez bautista socorro del pilar,natural,m,soltero,publicidad en el proyecto sala de ventas,visito sala de ventas,no,31,...,be,6,1,NaT,ahorro casa mivivienda,no,si,no,no,piscina